body{
    background-color: #444;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopWatch {
    color: #ffc107;
    font-size: 200px;
    font-weight: bold;
}

.milisecondTag{
    color: aliceblue;
    font-size: smaller;
    font-weight: bold;
}

button{
    margin: 10px;
}

.buttonContainer{
    display: block;
}